In [ ]:
%matplotlib inline

In [3]:
# Import Dependencies
import matplotlib.pyplot as plt
import numpy as np
from numpy import std, mean
import statistics 
import pandas as pd
# Load in csv
pyber_ride_df = pd.read_csv("Resources/PyBer_ride_data.csv")
pyber_ride_df

    Month  Avg. Fare ($USD)
0     Jan             10.02
1     Feb             23.24
2     Mar             39.20
3   April             35.42
4     May             32.34
5    June             27.04
6    July             43.82
7     Aug             10.56
8    Sept             11.85
9     Oct             27.90
10    Nov             20.71
11    Dec             20.09

In [8]:
#stdev = statistics.stdev("Avg. Fare ($USD)")
#stdev

In [ ]:
pyber_ride_df.plot(x="Month", y="Avg. Fare ($USD)")
plt.show()

In [ ]:
# Set x-axis and tick locations.
x_axis = np.arange(len(pyber_ride_df))
#list comprehension
tick_locations = [value for value in x_axis]
# Plot the data.
pyber_ride_df.plot(x="Month", y="Avg. Fare ($USD)")
plt.xticks(tick_locations, pyber_ride_df["Month"])
plt.show()

In [ ]:
#approaches produce a bar  plot()
pyber_ride_df.plot.bar(x="Month", y="Avg. Fare ($USD)")


plt.show()

In [ ]:
pyber_ride_df.plot(x="Month", y="Avg. Fare ($USD)", kind='bar')
plt.errorbar(x_axis, y_axis, yerr=stdev)
plt.show()